<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= budget.image %>">
                <div class="caption-full">
                   <p> <h4 class="pull-right"> Income: <%=budget.income%> </h4></p>
                     <h4 class="pull-right"> Expenses: <%=budget.expenses%> </h4>
                   
                    <p><%= budget.description %></p>
                    <div>
                         <%budget.comments.forEach((comment) => {%>
                             <p><%=comment.text%></p>
                              <p><%=comment.author%></p>
                        <% })%>
                    </div>
<a href="/budget/<%=budget._id%>/comment/new" class="btn btn-primary">Add Comment</a>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<% include partials/footer %>